.dialog {
    width: 50%;
    height: 40%;
    /* padding: 1rem; */
    background-color: white;
    color: black;
    position: relative;
}

.message-title {
    width: 100%;
    height: 30%;
    padding-left: 1rem;
    box-sizing: border-box;
    background-color: rgb(124, 11, 124);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.message-title > h2 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    text-align:start;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.message {
    font-weight: bold;
}

.dialog_inner {
    width: 100%;
    padding-left: 1rem;
    padding-top: 1rem;
}

.dialog-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}